<li>OS: {{ ansible_net_system }}</li>
<li>Model: {{ ansible_net_model }}</li>
<li>Image: {{ ansible_net_image }}</li>
<li>Version: {{ ansible_net_version }}</li>
<li>Hostname: {{ ansible_net_hostname }}</li>
<li>IOS Type: {{ ansible_net_iostype }}</li>
<li>Serial Num: {{ ansible_net_serialnum }}</li>
<li>IP Addresses: {{ ansible_net_all_ipv4_addresses }}</li>
<li>Filesystems: {{ ansible_net_filesystems_info }}</li>
<li>Mem Total: {{ ansible_net_memtotal_mb }}</li>
<li>Mem Free: {{ ansible_net_memfree_mb }}</li>