OS: {{ ansible_net_system }}
Model: {{ ansible_net_model }}
Image: {{ ansible_net_image }}
Version: {{ ansible_net_version }}
Hostname: {{ ansible_net_hostname }}
IOS Type: {{ ansible_net_iostype }}
Serial Num: {{ ansible_net_serialnum }}
IP Addresses: {{ ansible_net_all_ipv4_addresses }}
Filesystems: {{ ansible_net_filesystems_info }}
Mem Total: {{ ansible_net_memtotal_mb }}
Mem Free: {{ ansible_net_memfree_mb }}